
.row {
    max-width: $grid-width;
    margin: 0 auto;
    
    &:not(:last-child){
        margin-bottom: $gap-row;

        @include respond(tab-port) {
            margin-bottom: $gap-row-small;
        }
    }

@include respond(tab-port) {
     max-width: 50rem;
     padding: 2rem;
}

//use clear for float


    @include clearFix;

    // attribute selector

    [class^="col-"] {
        float: left;

        &:not(:last-child) {
            margin-right: $gap-col;

         @include respond(tab-port) {
            margin-right: 0;
            margin-bottom: $gap-row;

        }

    }

    @include respond(tab-port) {
        width: 100% !important;
    }
    
    }

   

    .col-1-of-2{
       width: calc((100% - #{$gap-col})/2); 
       
       }

       .col-1-of-3{
        width: calc((100% - 2*#{$gap-col})/3); 
        
        }

        .col-1-of-4{
            width: calc((100% - 3*#{$gap-col})/4); 
            
            }

        .col-2-of-3{
                width: calc(2*((100% - 2 * #{$gap-col})/3) + #{$gap-col}); 
            }

        .col-3-of-4{
              width: calc(3*(100% - 3 * #{$gap-col})/4 + 2* #{$gap-col}); 
                
                }

   
  


 }